<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stud Home</title>
</head>
<style>
    input{margin:30px;background-color:black;color:white}
    label{font-size:20px;margin-left:30px}
    button{background-color:#4CAF50;color:white;text-decoration:none;border:none;display:inline-block;font-size:30px;margin-left:600px}

</style>
<body>
<form action="submit" method="post">
    <div style="width:50%;height:100%;float:left">
    <label>Enter your name</label><br>
    <input type="text" placeholder="Enter student name"><br>
    <label>Enter your Rollnumber</label><br>
    <input type="text" placeholder="Enter rollnumber"><br>
    <label>Enter your Email address</label><br>
    <input type="text" placeholder="Enter email"><br>
    <label>Enter your Course</label><br>
    <input type="text" placeholder="Enter course"><br>
    <label>Enter your Address</label><br>
    <input type="text" placeholder="Enter address"><br>

    </div>
    <div style="width:48%;height:100%;float:left">
        <label>Enter your name</label><br>
     <input type="text" placeholder="city"><br>
        <label>Enter your name</label><br>
     <input type="text" placeholder="year"><br>
        <label>Enter your name</label><br>
     <input type="text" placeholder="Write comments here">
        <br>
        <br>
        <br>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>