<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<button type="button" class="btn btn-success " data-toggle="modal" data-target="#myimport">Import</button>


    <!-- Trigger the modal with a button -->


    <!-- Modal -->
    <div class="modal fade" id="myimport" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Import Excel File</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" name="url" id="url" placeholder="API url"><br>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-primary" onclick=replace()>Replace</button>

                        <button type="button" class="btn btn-primary"onclick=append() >Append</button>

                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
