<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><h1>ENter Your String to remove punctuation</h1></title>
</head>
<body>
<form action="home" method="get">
<input name="box" style="color:red;width:100px;height:50px;text-decoration:inline" type="text" placeholder="Enter here"><br>
    <input name="ck" type="checkbox">removepuncuations
    <input name="ck1" type="checkbox">UPPERCASE

    <input name="ck2" type="checkbox">NO. of words
    <input name="ck3" type="checkbox">space removal

<button>Submit</button>

</body>
</html>