<!doctype html>
<html lang="en">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	{% load staticfiles %}
<form action="signup" method="get" id="hel" >



	<img src="{% static 'hrr.jpg' %}" style="z-index:-1;position:absolute;width:100%;height:100%" >

	<div class="container-float col-lg-4 mt-5 ml-5 border border-dark float-left">
		<h3>Personal Detail</h3>
			<div>
			<input name="name" class="col-lg-12 mt-2" type="text" placeholder="Candidate Name">
			<input  name="mobilenumber" class="col-lg-10 mt-2" type="text" placeholder="Mobile Number">
			<input name="email" class="col-lg-6 mt-2" type="text" placeholder="E-mail id">
			<select name="emailm" class="col-lg-6 float-right mt-2">
			<option>@gmail.com</option>
			<option>@facebook.com</option>
			<option>@Yahoo.com</option>

			</select>

			<select name="domain" class="col-lg-6  mt-2">
			<option>select domain</option>
			<option>facebook.com</option>
			<option>yahoo.com</option>

			</select>

			<select name="course" class="col-lg-6 float-right mt-2">
			<option>select course</option>
			<option>MBA</option>
			<option>B.Tech</option>
			<option>Diploma</option>

			</select>

			<input name="qualification" class="col-lg-6 mt-2" type="text" placeholder="Enter Qualification">
			<input name="year" class="col-lg-6 mt-2 float-right" type="text" placeholder="Passout Year">
			<input name="city" class="col-lg-12 mt-2 mb-3" type="text" placeholder="City">


			</div>

	</div>


	<div class="container-float col-lg-6 mt-5 ml-5 border border-dark float-left">
		<h3 style="margin-bottom:30px">Calling Detail</h3>
		<input name="detail"class="col-lg-12 mt-2" type="text" placeholder="Student demanded details">
		<input name="comment" class="col-lg-12 mt-2" type="text" placeholder="Write your comment" style="height:100px">
		<h3 class="mt-3">SMS</h3>
		<input class="mt-2 mb-3" type="radio"> Standard
		<input class="mt-2 ml-4" type="radio"> custom
		<input class="mt-2 ml-4" type="radio"> Never

		<button form="hel" style="display:block;margin-left:850px;margin-bottom:10px" type="submit" class="btn btn-warning">Submit</button>
	</div>
</form>

<div style="width:1000px;height:700px;margin-left:500px;display:none" id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="2.jpg" class="d-block w-100" alt="1...">
    </div>
    <div class="carousel-item">
      <img src="3.jpg" class="d-block w-100" alt="2...">
    </div>
    <div class="carousel-item">
      <img src="4.jpg" class="d-block w-100" alt="3...">
    </div>
  </div>
</div>
<footer class="fixed-bottom">
 <b style="margin:800px">Company © ZAD. All rights reserved.</b>
</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>