<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        body{font-size:20px;font-weight:10px;}
    </style>
</head>
<body>
<form action="searchpage" method="get">

    <input type="text" name="searchbox"  placeholder="Enter ID to search"><br>

    <button  type="submit" >submit</button>
</form>

<div style="background-color:black;width:120px;height:50px;color:white;margin-left:30px;margin-top:20px">
    NAME={{nm.name}}</div>

<div style="background-color:black;width:120px;height:50px;color:white;margin-left:30px;margin-top:20px">
    mobile={{nm.mobilenumber}}</div>


<div style="background-color:black;width:120px;height:50px;color:white;margin-left:30px;margin-top:20px">
    email={{nm.email}}</div>
<div style="background-color:black;width:120px;height:50px;color:white;margin-left:30px;margin-top:20px">
    email={{nm.domain}}</div>
<div style="background-color:black;width:120px;height:50px;color:white;margin-left:30px;margin-top:20px">
    Course={{nm.course}}</div>
<div style="background-color:black;width:120px;height:50px;color:white;margin-left:30px;margin-top:20px">
    Qualification={{nm.qualification}}</div>
<div style="background-color:black;width:120px;height:50px;color:white;margin-left:30px;margin-top:20px">
  year={{nm.year}}</div>
<div style="background-color:black;width:120px;height:50px;color:white;margin-left:30px;margin-top:20px">
    city={{nm.city}}</div>

</body>
</html>