<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'start.html' %}
{% block start %}
<h1>
    <article><em>Check your driving license waiting time</em></article></h1>
<form method="post" action="extendednext">
    {% csrf_token %}
    <kbd><b>
<label>Enter your name :</label>
<input  name="name" type="text" placeholder="Your name"><br>
<label>Enter Available agent :</label>
<input  name="agent" type="text" placeholder="Available agent"><br>
<label>Enter Other 4 names :</label>
<input  name="othername" type="text" placeholder="Other  name (with space)"><br></b>
</kbd>
    <button type="submit">GO ></button>
</form>
{% block content %}
{% endblock %}
{% endblock %}
</body>
</html>