<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="startextended" method="get">
<select name="select">
    <optgroup label="Select one ">
        <option>expression</option>
        <option>password</option>
        <option>Average word/Play Scribble</option>
        <option>Driving licence</option>


    </optgroup>
</select>
<button  type="submit">GO >></button>
</form>
{% block start %}                                                                                                                                                                                            
{% endblock %}
</body>
</html>